<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="./index.js"></script>
    <title>Emio</title>
</head>

<body class="flex flex-col bg-blue-100 items-center justify-center">

    <div class="flex mt-10 flex-col max-w-lg w-4/6 min-h-60 bg-white rounded-xl border border-black" id="chat-box">
        {% for chat_message in chat_messages: %}
        <div class="p-1">
            <p>{{ chat_message }}</p>
        </div>
        {% endfor %}

    </div>

    <div class="flex mt-5 p-3 w-4/6 max-w-lg  min-h-10 bg-white rounded-xl border border-black">
        <form method="POST" id="send-message-form" class="flex w-full items-center justify-between">
            <input type="text" name="user_input" id="user-input" placeholder="Send message..." class="flex-1 mr-4">
            <button type="submit" id="send-button">
                <b>Send</b>
            </button>
        </form>
    </div>

    <template id="chat-message-template">
        <div class="p-1">
            <p class="chat-message"></p>
        </div>
    </template>
</body>

<script>
    sendButton = document.getElementById("send-button");
    sendButton.addEventListener("click", () => {
        /*
            Append message to chat box in the frontend. This way, the user sees
            their message immediately after clicking the button rather than
            having to wait for the server response for the message to appear.
        */
        chatBox = document.getElementById("chat-box");
        messageTemplate = document.getElementById("chat-message-template");
        newMessage = messageTemplate.content.cloneNode(true);
        newMessage.querySelector(".chat-message").innerText = document.getElementById("user-input").value;
        chatBox.appendChild(newMessage);

        // Update button state, then submit the form
        sendButton.disabled = true;
        sendButton.innerText = "Sending...";
        document.getElementById("send-message-form").submit();
    });
</script>

</html>